<!DOCTYPE html>
<html>
<head>
  <title>Cross Country</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/assets/jquery-1.10.2.min.js' %>
  <%= javascript_include_tag '/assets/freewall.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href="/">Cross Country</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="/events">Your Runs</a>
      </li>
      <li class="">
        <a href="/images">Your Images</a>
      </li>
    </ul>

    <% if current_user %>
    <%= "Logged in as #{current_user.email}" %>
    <%= link_to "Log Out", logout_path %>
    <% else %>
    <%= link_to "Log In", login_path %>
    <% end %>
  </nav>



<div class="add_top_margin">


    <%= yield %>

</div>

</body>
</html>
